@page "/movies/grid/view"
@inject NavigationManager navigationManager
@inject Services.Abstractions.ITMDbService TMDb
@inject IJSRuntime jSRuntime
@using AwesomeBlazor.Components.Movies
@using System.Threading 

<h3>Movies Grid</h3>
<AwMovieGrid @ref="movieGrid" PagedMovie="PagedMovies" ReadData="async (e) => await ReadDataAsync(e)"></AwMovieGrid>

@code {
    public AwMovieGrid movieGrid;

    public PagedResult<Movie> PagedMovies { get; set; } = new PagedResult<Movie>();

    protected override async Task OnInitializedAsync()
    {
        await LoadMoviesAsync();
    }

    private async Task ReadDataAsync(DataGridReadDataEventArgs<Movie> e)
    {
        await LoadMoviesAsync(e.Page, e.CancellationToken);
        await jSRuntime.InvokeVoidAsync("blazorHelpers.scrollToFragment", movieGrid.DataGrid.ElementId);
        StateHasChanged();
    }

    public void MovieDetails(long movieId)
    {
        navigationManager.NavigateTo($"/movies/popular/details/{movieId}");
    }

    private async Task LoadMoviesAsync(int page = 1, CancellationToken cancellationToken = default)
    {
        PagedMovies = await TMDb.GetMoviePopularAsync(page);
    }
}
