@page "/rating"
@using AwesomeBlazor.Components.Rating
<h3>RatingPage</h3>

<AwRating SelectedValue="@SelectedValue" SelectedValueChanged="@((i) => SelectedValue = i)" MaxValue="10" Color="Color.Primary"></AwRating>

<br />
- @SelectedValue -

@code {
    public int SelectedValue { get; set; } = 2;
}
