@page "/movies/review/view"
@using AwesomeBlazor.Components.Users
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.Json
@using AwesomeBlazor.Models.Reviews 

<Row>
    <Column ColumnSize="ColumnSize.IsFull">
        <EditForm OnValidSubmit="SubmitAsync" Model="model" EditContext="context">
            <Validations Mode="ValidationMode.Auto" Model="@model" ValidateOnLoad="false" @ref="validator">
                <Steps SelectedStep="1">
                    <Items>
                        <Step Name="1" Color="Color.Primary">
                            <Marker>
                                <Icon Name="IconName.UserCircle" />
                            </Marker>
                            <Caption>
                                User
                            </Caption>
                        </Step>
                        <Step Name="2" Color="Color.Primary">Vote</Step>
                        <Step Name="3" Color="Color.Primary">
                            <Marker>
                                <Icon Name="IconName.Flag" />
                            </Marker>
                            <Caption>
                                Finish
                            </Caption>
                        </Step>
                    </Items>
                    <Content>
                        <StepPanel Name="1">
                            <AwUserInsert CurrentUser="model.User"></AwUserInsert>
                        </StepPanel>
                        <StepPanel Name="2">
                            <Field Horizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.Is2">Name</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is10">
                                    <TextEdit @bind-Text="model.User.FirstName" Placeholder="Some text value..." />
                                </FieldBody>
                            </Field>
                            <Field Horizontal="true">
                                <FieldLabel ColumnSize="ColumnSize.Is2">Name</FieldLabel>
                                <FieldBody ColumnSize="ColumnSize.Is10">
                                    <NumericEdit @bind-Value="model.Vote" Placeholder="Some text value..." >
                                        <Validation>
                                            <ValidationError/>
                                        </Validation>
                                    </NumericEdit>
                                </FieldBody>
                            </Field>
                        </StepPanel>
                        <StepPanel Name="3">
                            <Button Type="ButtonType.Submit" Color="Color.Primary" Active="false">Submit</Button>
                        </StepPanel>
                    </Content>
                </Steps>
            </Validations>
        </EditForm>
    </Column>
</Row>

<Snackbar @ref="snackbar" Multiline="true" Location="SnackbarLocation.None">
    <SnackbarBody>
        @SnackBarContent
    </SnackbarBody>
</Snackbar>  

@code {
    private Snackbar snackbar;
    private string SnackBarContent { get; set; }
    public ReviewInsertModel model = new ReviewInsertModel() { User = new Models.Users.UserInsertModel() };
    private EditContext context;
    Validations validator;

    public void SubmitAsync(EditContext context)
    {
        if (validator.ValidateAll())
        {
            SnackBarContent = JsonSerializer.Serialize(context.Model, typeof(object), new JsonSerializerOptions { WriteIndented = true });
            snackbar.Show();
        }
        else
        {
            SnackBarContent = context.GetValidationMessages().Aggregate((t1, t2) => string.Format("{0}, {1}", t1, t2));
        }
    }
}
